# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
mkdir screenshots
git mv "Screenshot 2025-08-05 212059.png" screenshots/
git mv "Screenshot 2025-08-05 212134.png" screenshots/
git mv "Screenshot 2025-08-05 212205.png" screenshots/
echo "screenshots/" >> .gitignore
git rm -r --cached screenshots/
git add .gitignore
git commit -m "Move screenshots to folder and add to gitignore"
git push


